<div class="container container-bgk container-padding" ng-class="{'form-container':$ctrl.detailsOpen}">

    <div class="form-container-2 mesas-container" ng-class="{'form-lista':$ctrl.detailsOpen}">
        <div class="" ng-repeat="mesa in $ctrl.mesas">
            <div class="mesa-redonda flex-center-text mesas-margin" ng-if="mesa.forma_id == 1">
                <div class="mesa-numero" ng-click="$ctrl.mesaToUpdate(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
            </div>
            <div class="mesa-cuadrada flex-center-text mesas-margin" ng-if="mesa.forma_id == 2">
                <div class="mesa-numero" ng-click="$ctrl.mesaToUpdate(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
            </div>
            <div class="mesa-rectangular flex-center-text mesas-margin" ng-if="mesa.forma_id == 3">
                <div class="mesa-numero" ng-click="$ctrl.mesaToUpdate(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
            </div>
        </div>
    </div>
    <div class="botonera">
        <button type="button" class="boton-agregar" ng-click="$ctrl.createMesa();" title="Nuevo">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>

    <form class="form-abm" form-id="abm-mesa" ng-class="{'form-open':$ctrl.detailsOpen}">
        <div class="detalle-container" >
            <h2>Nueva mesa</h2>

            <div class="mv-col">
                <div class="input">
                    <label>Número</label>
                    <input id="numero" type="text" ng-model="$ctrl.mesa.mesa"/>
                </div>
                <div class="input">
                    <label>Tamaño</label>
                    <select ng-model="$ctrl.tamanioMesa"
                            ng-options="tamanioMesa as tamanioMesa.cantidad for tamanioMesa in $ctrl.tamanioMesas">
                    </select>
                </div>
            </div>
            <div class="mv-col">
                <div class="input">
                    <label>Forma</label>
                    <select ng-model="$ctrl.formaMesa"
                            ng-options="formaMesa as formaMesa.forma for formaMesa in $ctrl.formasMesas">
                    </select>
                </div>
            </div>

            <div class="botonera">
                <button type="button" class="boton-ok" ng-click="$ctrl.save();" title="Guardar">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button type="button" class="boton-cancelar" ng-click="$ctrl.cancel();"
                        title="Cancelar">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <button type="button" class="boton-eliminar" ng-click="$ctrl.remove();"
                        title="Borrar">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>

</div>
