<div class="container container-bgk container-padding">
    <h1 class="secciones">Administrar Salón</h1>
    <div ng-class="{'form-container':$ctrl.detailsOpen}">
        <div ng-class="{'form-lista':$ctrl.detailsOpen}">
            <form id="salonForm" class="salon-form" form-id="mv-salon">
                <div class="mv-col-5">
                    <div class="mesas-salon">
                        <div class="" ng-repeat="mesa in $ctrl.mesas">
                            <div class="mesa-redonda flex-center-text mesas-margin" ng-if="mesa.forma_id == 1">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                            <div class="mesa-cuadrada flex-center-text mesas-margin" ng-if="mesa.forma_id == 2">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                            <div class="mesa-rectangular flex-center-text mesas-margin" ng-if="mesa.forma_id == 3">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mv-col-2">
                    <div class="mostrador">
                        Mostrador
                    </div>
                </div>
                <div class="mv-col-5">
                    <div class="mesas-salon">
                        <div class="" ng-repeat="mesa in $ctrl.mesas">
                            <div class="mesa-redonda flex-center-text mesas-margin" ng-if="mesa.forma_id == 1">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                            <div class="mesa-cuadrada flex-center-text mesas-margin" ng-if="mesa.forma_id == 2">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                            <div class="mesa-rectangular flex-center-text mesas-margin" ng-if="mesa.forma_id == 3">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <form class="form-abm" form-id="abm-detalle" ng-class="{'form-open':$ctrl.detailsOpen}">
            <div class="detalle-container" >
                <h2>Gestionar Mesa</h2>

                <div ng-if="$ctrl.mesa.status == 3">
                    <button type="button" class="boton-ok" ng-click="$ctrl.openMesa($ctrl.mesa);" title="Abrir mesa">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                </div>
                <div ng-if="$ctrl.mesa.status < 3">
                    <div class="mv-col">
                        <div class="input">
                            <label>Mesa</label>
                            <input id="mesa" type="text" ng-model="$ctrl.mesa.mesa" class="readonly" readonly/>
                        </div>
                    </div>
                    <div class="mv-col">
                        <div class="input">
                            <label>Cantidad de Personas</label>
                            <input id="personas" type="number" ng-model="$ctrl.mesa.cantidad" />
                        </div>
                        <div class="input">
                            <label>Moso</label>
                            <input id="moso" type="text"  />
                        </div>
                    </div>
                    <div class="mv-col">
                        <div class="input">
                            <label>Producto</label>
                            <mv-autocomplete fields-to-show="'nombre'"
                                             selected-to="$ctrl.producto"
                                             search-fields="'nombre,sku'"
                                             search-function="$ctrl.searchProducto(callback)"
                                             clear='$ctrl.clear'
                                             id="searchProducto"
                                             ng-blur="$ctrl.calc_disponible();"></mv-autocomplete>
                        </div>

                        <div class="input">
                            <label>Cantidad</label>
                            <input type="number" step="0.01" ng-model="$ctrl.cantidad" placeholder="Cantidad" class="input-small"
                                   mv-validator is-required="Debe ingresar una cantidad" id="cantidad">
                        </div>
                    </div>

                    <div class="botonera">
                        <button type="button" class="boton-ok" ng-click="$ctrl.save();" title="Guardar">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="boton-cancelar" ng-click="$ctrl.cancel();"
                                title="Cancelar">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="boton-eliminar" ng-click="$ctrl.remove();"
                                title="Borrar">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>
