<div class="container container-bgk container-padding">
    <h1 class="secciones">Administrar Salón</h1>
    <div ng-class="{'form-container':$ctrl.detailsOpen}">
        <div ng-class="{'form-lista':$ctrl.detailsOpen}">
            <form id="salonForm" class="salon-form" form-id="mv-salon">
                <div class="mv-col-5">
                    <div class="mesas-salon">
                        <div class="" ng-repeat="mesa in $ctrl.mesasIzquierda">
                            <div class="mesa-redonda flex-center-text mesas-margin" ng-if="mesa.forma_id == 1">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                            <div class="mesa-cuadrada flex-center-text mesas-margin" ng-if="mesa.forma_id == 2">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                            <div class="mesa-rectangular flex-center-text mesas-margin" ng-if="mesa.forma_id == 3">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mv-col-2">
                    <div class="mostrador">
                        Mostrador
                    </div>
                </div>
                <div class="mv-col-5">
                    <div class="mesas-salon">
                        <div class="" ng-repeat="mesa in $ctrl.mesasDerecha">
                            <div class="mesa-redonda flex-center-text mesas-margin" ng-if="mesa.forma_id == 1">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                            <div class="mesa-cuadrada flex-center-text mesas-margin" ng-if="mesa.forma_id == 2">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                            <div class="mesa-rectangular flex-center-text mesas-margin" ng-if="mesa.forma_id == 3">
                                <div class="mesa-numero" ng-click="$ctrl.showMesa(mesa);$ctrl.detailsOpen=true;">{{mesa.mesa}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <form class="form-abm" form-id="abm-detalle" ng-class="{'form-open':$ctrl.detailsOpen}">
            <div class="detalle-container" >
                <h2>{{$ctrl.titulo}}</h2>

                <div ng-if="$ctrl.mesa.status == 0">
                    <div class="mv-col">
                        <h4>{{$ctrl.titulo2}}</h4>
                    </div>
                    <div class="mv-col">
                        <div class="input">
                            <label>Seleccione Mozo:</label>
                            <select ng-model="$ctrl.mozo"
                                    ng-options="mozo as mozo.nombre for mozo in $ctrl.mozos">
                            </select>
                        </div>
                    </div>
                    <div class="mv-col">
                        <div class="input">
                            <label>Código de Reserva:</label><span>(opcional)</span>
                            <input id="codigo" type="text" ng-model="$ctrl.codigo_reserva"/>
                        </div>
                    </div>
                    <div class="mv-col">
                        <div class="input">
                            <label>Cliente:</label><span>(opcional)</span>
                            <input id="mesa" type="text" ng-model="$ctrl.mesa.mesa"/>
                        </div>
                    </div>

                    <button type="button" class="boton-ok" ng-click="$ctrl.openMesa($ctrl.mesa);" title="Abrir mesa">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="boton-cancelar" ng-click="$ctrl.cancel();" title="Cancelar">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div ng-if="$ctrl.mesa.status > 0">
                    <div class="mv-col">
                        <div class="input">
                            <label>Mesa</label>
                            <input id="mesa" type="text" ng-model="$ctrl.mesa.mesa" class="readonly" readonly/>
                        </div>
                        <div class="input">
                            <label>Total</label>
                            <input id="total" type="text" ng-model="$ctrl.total" class="readonly" readonly/>
                        </div>
                    </div>
                    <div class="mv-col">
                        <div class="input">
                            <label>Cantidad de Personas</label>
                            <input id="personas" type="number" ng-model="$ctrl.mesa.cantidad" />
                        </div>
                        <div class="input">
                            <label>Moso</label>
                            <select ng-model="$ctrl.mozo"
                                    ng-options="mozo as mozo.nombre for mozo in $ctrl.mozos">
                            </select>
                        </div>
                    </div>
                    <div class="mv-col">
                        <div class="input">
                            <label>Producto</label>
                            <mv-autocomplete fields-to-show="'nombre'"
                                             selected-to="$ctrl.producto"
                                             search-fields="'nombre,sku'"
                                             search-function="$ctrl.searchProducto(callback)"
                                             clear='$ctrl.clear'
                                             id="searchProducto"
                                             ng-blur="$ctrl.calc_disponible();"></mv-autocomplete>
                        </div>
                        <div class="input">
                            <label>Cantidad</label>
                            <input type="number" step="0.01" ng-model="$ctrl.cantidad" class="input-small"
                                   mv-validator is-required="Debe ingresar una cantidad" id="cantidad">
                        </div>
                    </div>

                    <div class="botonera">
                        <button type="button" class="boton-ok" ng-click="$ctrl.save();" title="Agregar Producto">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class="margin-top">
                        <table>
                            <thead>
                            <tr>
                                <th>Producto</th>
                                <th>P. Unit</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in $ctrl.detalles">
                                <td class="">{{row.producto_nombre}}</td>
                                <td class="">{{row.precio_unidad | currency}}</td>
                                <td class="">{{row.cantidad}}</td>
                                <td class="">{{row.precio_total | currency}}</td>
                                <td class="">
                                    <button type="button" class="boton-eliminar btn-small" ng-click="$ctrl.removeDetalle($index)"
                                            title="Quitar">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="botonera">
                        <button type="button" class="boton-ok" ng-click="$ctrl.saveComanda();" title="Crear Comanda">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="boton-calendario" ng-click="$ctrl.cocina();" title="Ir a Cocina">
                            <i class="fa fa-mail-forward" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="boton-cancelar" ng-click="$ctrl.cancel();" title="Cancelar">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>

            </div>
        </form>

    </div>

</div>
